
<div class="container">
  <h1><%= @list.name %></h1>
<%= link_to 'Back to All Lists', lists_path, class: 'btn btn-secondary' %>
  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img class="card-img-top" src="<%= movie.poster_url %>" alt="<%= movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
