<!-- app/views/bookmarks/new.html.erb -->

<h1>New Bookmark for <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.input :comment, label: 'Comment', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie", input_html: { class: 'form-control' } %>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
