<div class="container mt-3">
  <h1><%= @movie.title %></h1>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@movie.poster_url, alt: @movie.title, class: "img-fluid") if @movie.poster_url.present? %>
    </div>
    <div class="col-md-6">
      <p><strong>Overview:</strong> <%= @movie.overview %></p>
      <p><strong>Rating:</strong> <%= @movie.rating %></p>
      
      <%= link_to 'Back to Movies', list_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
